*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
.nav{
	height: 120px;
	width: 100%;
	background: lightcyan;
	position: relative;
}
.option1, .menu{
	background: transparent;
	list-style: none;
	font-weight: bold;
	font-size: 30px;
	display: inline;
	/*border: 1px solid black;*/
	margin-right:  20px;
	line-height: 120px;
	padding: 43px 30px;


}
.option{
	text-align: center;

}

.menu .dropdown{
	display: none;
}
.option .test{
	transition: 1s;
}
.option .test:hover{
	background: linear-gradient(red,blue);
	color: white;
	border: 1px solid transparent;
	border-radius: 25px;
}
.menu:hover .dropdown{
	display: block;
	background: #3AF39C;
}

.dropdown{
	position: absolute;
	top:100%;
	left:50% ;
	
}
.S{
	width: 50px;
	display: flex;
}